* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    /* background-color: rgb(194, 194, 61); */
}

header {
    width: 100%;
    background-color: rgb(25, 41, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-left: 45px;
    font-size: 35px;
    color: white;
}

nav {
    width: 550px;
    margin-right: 100px;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.navMenu li {
    position: relative;
}

.dropDown {
    display: none;
    position: absolute;
    top: 110%; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: rgb(25, 41, 182);
    width: 150px;
    text-align: center;
    padding: 5px 0;
}

.dropDown li {
    margin: 0;
    padding: 10px;
}

.navMenu li:hover .dropDown {
    display: block;
}

.navIn {
    display: none;
    position: absolute;
    left: 100%; 
    top: 0; 
    background-color: rgb(25, 41, 182);
    width: 150px;
    text-align: center;
    padding: 5px 0; 
}

.navIn li {
    margin: 0;
    padding: 10px;
}

.dropDown li:hover .navIn {
    display: block;
}
